{% extends "layout.html" %}

{% block content %}

    <article>
        <table align="center">
            <tr>
                <th>Player</th>
                <th>Nationality</th>
                <th>
                    Overall<br>
                    <a href="?sortOverall=asc">По возрастанию</a><br>
                    <a href="?sortOverall=asc">По убыванию</a>
                </th>
                <th>Team</th>
            </tr>
            <tbody>
            {% for row in processed_data %}
                <tr>
                    <td>
                        {{row[1]}}
                    </td>
                    <td>
                        {{row[2]}}
                    </td>
                    <td>
                        {{row[3]}}
                    </td>
                    <td>
                        {{row[4]}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>

{% endblock %}